@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/_variables";
@import "src/_variables";

.quote-summary{
  border: 1px solid $color-primary;
  padding: 0 10px 10px 10px;
  margin: 15px 0;
  h2, h3, h4, h5, h6{
    margin-top: 10px;
  }
}
.quote-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2px;
  text-align: center;
  background: linear-gradient(to right, $color-primary, $color-secondary, $color-primary) left bottom no-repeat;
  background-size: 100% 2px;
}

.customer-details, .customer-discounts,
.driver-details, .driver-discounts,
.vehicle-details, .vehicle-discounts{
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  border-left: 2px solid $color-primary;
  > span{
    flex: 0.2 0 34%;
    padding-left: 10px;
    &:nth-child(n + 3){
      margin-top: 5px;
    }
  }
  > div {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: nowrap;
    > span{
      flex: 0.2 0 34%;
      padding-left: 10px;
      &:nth-child(n + 3){
        margin-top: 5px;
      }
    }
  }
    
}

.customer-discounts, .driver-discounts, .vehicle-discounts{
  padding-top: 5px;
  border-bottom: 2px dotted $color-primary;
  border-top: 2px dotted $color-primary;
  h5{
    width: 100%;
    // border-bottom: 1px solid $color-primary;
  }
}

.driver-details, .vehicle-details{
  &:nth-of-type(n + 2){
    margin-top: 10px;
  }
}

.discount{
  color: rgb(34, 190, 34);
}

.premium{
  color: rgb(220, 20, 20);
}

.recalculate-quote {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
