@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/_variables";
@import "../../../variables";

table{
  th, td{
    white-space: nowrap;
  }
}

.icon{
  width: 25px;
  height: 25px;
  cursor: pointer;
  
  @media screen and (min-width: map-get($grid-breakpoints, sm)){
    width: 30px;
    height: 30px;
  }
}