<div class="discount-page">
  <h1>Manage Discounts</h1>
  <div class="discount-select">
    <button class="btn btn-primary bevel bevel-md" (click)="onAddState()">
      <img class="icon" src="../../../assets/icons/031-add.svg" alt="icon"/> Add State
    </button>
    <input type="text" #txtAddState />
    <select class="form-control" #stateSelect (change)="onStateSelected(stateSelect.value)">
      <option *ngFor="let state of states" value="{{state}}">
        {{state}}
      </option>
    </select>
  </div>
  <app-discounts-form [discounts]="discounts" [isStateLookedup]="isStateLookedup" [isAddStateShown]="isAddStateShown" (discountsUpdated)="updateDiscounts($event)"></app-discounts-form>
</div>
