@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/_variables";
@import "../../../variables";

.form-grid{
  display: grid;
  grid-template-areas:
  'customer'
  'driver'
  'vehicle';
  justify-content: space-between;
  grid-template-columns: 100%;

  > div {
    width: 100%;
    overflow: auto;
  }

  @media screen and (min-width: map-get($grid-breakpoints, md)){
    grid-template-columns: 49% 49%;
    grid-template-areas:
    'customer customer'
    'driver vehicle';
    grid-column-gap: 1rem;
  }

  @media screen and (min-width: map-get($grid-breakpoints, xl)){
    grid-template-columns: 32% 32% 32%;
    grid-template-areas:
    'customer driver vehicle';
    grid-column-gap: 2rem;
  }

}

.customer-form{
  grid-area: customer;
}

.driver-form{
  grid-area: driver; 
}

.vehicle-form{
  grid-area: vehicle;
  overflow-x: auto;
  max-width: 100%;
}

.submit-quote{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.edit-driver-modal {
  position: fixed;
  top: 84px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(23, 23, 23, 0.70);
}
