<div class="metrics-card">
  <div class="metrics-card-body">
    <div class="card-body-graph">
      <img src="{{graphURL}}" alt="Placeholder Image" />
    </div>
    <div class="card-body-key">
      <div class="keys-section">
        <div class="key-container">
          <div class="key-color"></div>
          <label>Key Label</label>
        </div>
        <div class="key-container">
          <div class="key-color"></div>
          <label>Key Label</label>
        </div>
        <div class="key-container">
          <div class="key-color"></div>
          <label>Key Label</label>
        </div>
        <div class="key-container">
          <div class="key-color"></div>
          <label>Key Label</label>
        </div>
        <div class="key-container">
          <div class="key-color"></div>
          <label>Key Label</label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-title">
    <label>Graph Title</label>
  </div>
</div>