@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/_variables";
@import "../../../variables";

td.centered, th.centered {
  text-align: center;

  input[type='checkbox'] {
    height: 20px;
    width: 20px;
  }
}

.button-container{
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.pending-table{
  margin-top: 20px;
}

.no-agents-message {
  border: 1px solid $color-primary;
  text-align: center;
  box-shadow: 2px 2px 6px 1px $color-primary;
  margin: 10px;
  padding: 10px;

  @media screen and (min-width: map-get($grid-breakpoints, sm)) {
    margin: 50px;
    padding: 40px;
  }
}
