@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/_variables";
@import "src/_variables";

.expanding-card {
  margin-bottom: 15px;
  .expanding-card-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid $color-primary;
    border-radius: 5px 5px 0 0;
    height: 40px;

    h5 {
      margin: 0;
    }

    button {
      border: none;
      background-color: transparent;
      outline: none;

      &:hover {
        cursor: pointer;
      }

      & object {
        width: 20px;
        height: 20px;
        transform: rotate(0deg);
        transition: transform 0.4s ease-in-out;

        &.open {
          transform: rotate(180deg);
        }
      }
      & img {
        width: 20px;
        height: 20px;
        transform: rotate(0deg);
        transition: transform 0.4s ease-in-out;

        &.open {
          transform: rotate(180deg);
        }
      }
    }
  }

  .expanding-card-container {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;

    &.open {
      max-height: 1500px;
    }

    .expanding-card-body {      
      border: 1px solid $color-primary;

      form {
        padding: 5px;
        @media screen and (min-width: map-get($grid-breakpoints, sm)){
            padding: 20px;
        }
      }

      label:not(.check-box-input) {
        display: block;
      }

      label.check-box-input {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;

        /* On mouse-over, add a white border */
        &:hover input~.checkmark {
          border: 1px solid $color-trim;
          cursor: pointer;
        }

        &:focus input~.checkmark {
          box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.25);
        }

        input[type="checkbox"] {
          position: absolute;
          opacity: 1;
          top: 1px;
          left: 1px;
          height: 24px;
          width: 24px;
          cursor: pointer;
          border: 1px solid $color-primary;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #ffffff;
          border-radius: 0.25rem;
          border: 1px solid $color-primary;
          transition: background-color .5s ease-in-out;
        }       

        /* When the checkbox is checked, add a blue background */
        input:checked~.checkmark {
          background-color: $color-primary;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        input:checked~.checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        & .checkmark:after {
          left: 9px;
          top: 3px;
          width: 7px;
          height: 14px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      @media screen and (max-width: map-get($grid-breakpoints, sm)) {
        button {
          width: 100%
        }
      }
    }

    .expanding-card-footer {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      border: 1px solid $color-primary;
      border-radius: 0 0 5px 5px;
      height: 40px;

      h5 {
        margin: 0;
      }

      button {
        border: none;
        background-color: transparent;
        outline: none;

        &:hover {
          cursor: pointer;
        }

        & img {
          width: 20px;  
          height: 20px;
          transform: rotate(0deg);
          transition: transform 0.4s ease-in-out;

          &.open {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

div.table-responsive{
  position: relative;
  top: -2px;
  table.table.table-striped{
    white-space: nowrap;
    margin-bottom: 0;
  }
}

#btn-stop-edit {
  margin: 0 0 15px 0;
}

.edit-mode-notification {
  background-color: rgb(255, 189, 68);
  text-align: center;
  border-radius: 2px;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.icon{
  width: 20px;
  height: 20px;
  @media screen and (min-width: map-get($grid-breakpoints, sm)){
    width: 30px;
    height: 30px;
  }
}
