@import "src/_variables";

table{
  th, td{
    white-space: nowrap;
  }
}

td a img{
  width: 30px;
  height: 30px;
}

a.open-quote-link div{
  display: flex;
  justify-content: space-between;
}

.open-quote-icon{
  margin-left: 10px;
}